/* General Style Starts  */

:root {
  --primary: #0c056d;
  --secondary: #590d82;
  --third: #af449c;
  --body: #222;
  --white: #fff;
  --off-wh: #f1f1f1;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 9%;
}

.col-100 {
  width: 100%;
  padding: 1em;
}

.col-70 {
  width: 70%;
  padding: 1em;
}

.col-50 {
  width: 50%;
  padding: 1em;
}

.col-33 {
  width: 33.33333%;
  padding: 1em;
}

.col-30 {
  width: 30%;
  padding: 1em;
}

.justify-center {
  justify-content: center !important;
}

.middle-align {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-bg {
  background: url('./img/section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}

.py-4 {
  padding-top: 1.7em;
  padding-bottom: 1.7em;
}

.py-5 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.px-5 {
  padding-left: 30px;
  padding-right: 30px;
}

p {
  font-size: 16px;
  line-height: 1.4em;
  color: var(--body);
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--body);
  line-height: 3em;
}

h1 {
  font-size: 40px;
  line-height: 2em;
}

.btn {
  background: var(--primary);
  color: var(--white);
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
  margin: 1.3em auto;
  border-radius: 3px;
}

.btn:hover {
  background: var(--secondary);
}

.text-center {
  text-align: center !important;
}

.section-title-wrapper {
  padding-top: 40px;
}

.caption {
  margin-top: 1.3em;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: 0px;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-weight: 600;
}

.block-holder {
  background: var(--off-wh);
  margin: 2.5em;
  padding: 1.4em 2em;
}


/* General Style Ends  */


/* header style starts  */

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
  z-index: 1000;
  height: auto;
}

.site-header .logo .logo-img {
  max-width: 200px;
}

.site-header .navbar .navbar-lists {
  list-style: none;
}

.site-header .navbar .navbar-lists .nav-single-list {
  position: relative;
  float: left;
  margin-right: 7px;
}

.site-header .navbar .navbar-lists .nav-single-list a {
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  color: var(--primary);
  display: block;
}

.site-header .navbar .navbar-lists .nav-single-list a:hover {
  background: var(--primary);
  color: var(--white);
  /* border-radius: 3px; */
}

.site-header .navbar .navbar-lists .nav-single-list .navbar-sub {
  position: absolute;
  left: 0;
  width: 190px;
  background: var(--white);
  display: none;
  list-style: none;
}

.site-header .navbar .navbar-lists .nav-single-list .navbar-sub .navbar-sub-single {
  width: 100%;
  border-top: 1px solid var(--off-wh);
}

.site-header .navbar .navbar-lists .nav-single-list:hover > .navbar-sub {
  display: initial;
}

.site-header #menu-bar {
  display: none;
}

.site-header label {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary);
  display: none;
}

/* header style ends  */


/* home page banner starts  */

.home-banner {
  background: url('./img/home-banner-new.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  margin-top: 85px;
}

.banner-title {
  color: var(--white);
  padding-top: 3.3em;
}


/* home page banner Ends  */

/* Home page about section style starts  */

.about-section {
  padding: 70px 0px;
}

.home-abt-col img {
  max-width: 400px;
}

/* Home page about section style ends  */

/* Home Page Book List Style Starts  */

.book-list-col {
  padding: 1.4em 1.3em;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.book-list-col img {
  max-width: 300px;
}

/* Home Page Book List Style Ends  */

/* Home Page Event List Style Starts  */

.event-list-col {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 2em 1em;
  border-radius: 3px;
  text-align: center;
}

.event-list-col img {
  max-width: 450px;
}

.start-borrow-img img {
  max-width: 380px;
}

/* Home Page Event List Style Starts  */


/* Footer style starts  */

.site-footer {
  background: var(--body);
  padding: 60px 7%;
}

.site-footer ul {
  list-style: none;
}

.site-footer .footer-row .footer-col .footer-logo {
  max-width: 180px;
  margin: 20px auto;
}

.site-footer .footer-row .footer-col .social-links {
  display: flex;
}

.site-footer .footer-row .footer-col .social-links li a img {
  max-width: 30px;
  margin-right: 10px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 25%;
}

.site-footer .footer-row .footer-col h4 {
  font-size: 20px;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  font-weight: 500;
}

.site-footer .footer-row .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
  background-color: var(--third);
}

.site-footer .footer-row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.site-footer .footer-row .footer-col ul li a {
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.site-footer .footer-row .footer-col .footer-widget li a:hover {
  color: var(--white);
  padding-left: 8px;
}


/* Footer style ends  */



/********** Book List Page Style  ***********/

.book-list-banner {
  background: url('./img/book-list-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 85px;
  min-height: 60vh;
}

.border-box {
  border: 1px solid var(--off-wh);
  /* padding: 1.4em 1em; */
}

.book-thumb {
  margin-bottom: 30px;
}

.book-details {
  font-size: 16px;
  line-height: 1em;
  margin-top: 10px;
}



/******** Events Style Starts  ********/

.event-banner {
  background: url('./img/event-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 85px;
  min-height: 60vh;
}

.event-wrapper {
  display: flex;
  padding: 1em;
  margin: 1.4em 0px;
  justify-content: space-evenly;
}

.event-wrapper img {
  max-width: 300px;
  margin-right: 40px;
}

.event-title {
  font-size: 18px;
  line-height: 1.9em;
  margin-bottom: 0.4em;
}

.short {
  font-size: 12px;
}

.short-details {
  margin-top: 20px;
  font-size: 15px;
}

.event-details-col img{
  max-width: 440px;
}


/******* Privacy Policy Style Starts  *******/

.privacy-row {
  margin-top: 85px;
}

/******** Privacy Policy Style Ends  *********/


/******** About Us Style Starts  *********/

.about-banner {
  background: url('./img/home-banner-new.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
  margin-top: 85px;
}

/******** About Us Style Ends  *********/

/****** Contact Page Style Starts  ******/

.contact-form-social {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  list-style: none;
}

.contact-form-social li a img {
  max-width: 40px;
  margin-right: 10px;
}

/****** Contact Form Style Starts  ******/

.form-wrapper {
  padding: 1em 2em;
}

label {
  columns: var(--body);
  font-size: 14px;
}

textarea {
  height: 200px;
}

input[type=text], input[type=date], input[type=email], textarea, input[type=password], select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--off-wh);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  outline: none;
  /* resize: vertical; */
}

/****** Contact Form Style Ends  ******/

/****** Borrowers List Page Style Starts  ******/

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #22222220;
  padding: 10px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: var(--off-wh);
}

/****** Borrowers List Page Style Ends  ******/


/****** Log in & Sign Up Style Starts  ******/

.sign-up-row {
  margin-top: 85px;
}

.sign-login-link {
  text-decoration: underline;
  color: var(--third);
  font-weight: 600;
}

/****** Log in & Sign Up Style Ends  ******/


/********** Responsive Style  ***********/


/* header style starts  */


@media only screen and (max-width: 991px) {
  .site-header {
    padding: 20px;
  }
  
  .site-header label {
    display: initial;
  }
  
  .site-header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: 1px solid var(--off-wh);
    display: none;
  }

  .site-header .navbar .navbar-lists .nav-single-list {
    width: 100%;
  }
  
  .site-header .navbar .navbar-lists .nav-single-list .navbar-sub{
    position: relative;
    width: 100%;
  }
  
  .site-header .navbar .navbar-lists .nav-single-list .navbar-sub .navbar-sub-single {
    background-color: var(--white);
  }
  
  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  .col-30, .col-70, .col-33, .col-50 {
    width: 100%;
    /* align-items: center; */
    margin: 40px auto;
  }

  .event-wrapper {
    display: block;
  }

  .event-thumb {
    max-width: 100%;
    width: 100%;
  }

  .event-thumb, .event-details {
    width: 100%;
    margin: 1em auto;
  }

  .book-list-col {
    text-align: center;
  }

  .col-50 img {
    max-width: 100%;
  }

  /* header style ends  */
  
}


@media only screen and (max-width: 767px) {

  .footer-row {
    display: block;
  }

  .footer-col {
    width: 100%;
    margin: 50px auto;
  }
}
